body {
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    padding: 10px 15px;
    border-color: #d1d1d1;
}

:focus-visible, .btn.focus, .btn:focus {
    outline-color: #aeb3cf;
}

.btn:focus {
    box-shadow: 0 0 0 0.1rem #aeb3cf;
}

.full-width {
    width: 100%;
}

.gradient-bg {
    background: rgb(172,182,229);
    background: linear-gradient(149deg, rgba(172,182,229,1) 0%, rgba(255,255,255,1) 50%, rgba(134,253,232,1) 100%);
}

.white-bg {
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,0.8995973389355743) 0%, rgba(255,255,255,0.5018382352941176) 50%);
}

.gentle-shadow {
    -webkit-box-shadow: 5px 5px 15px -1px rgba(172,182,229,0.4);
    box-shadow: 5px 5px 15px -1px rgba(172,182,229,0.4);
}

.accent-btn {
    background-color: #3c4b91;
    color: #fff;
}

.accent-btn:hover {
    background-color: #212529;
    color: #fff;
}